#navsearch{
    line-height: 14px;
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}
#navsearch input[type="text"]{
    font-size: 14px;
    width: 250px;
}
#advanced label, input{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#advanced label{
    clear: left;
    display: block;
    width: 80px;
}
#main{
    padding-left: 20px;
}