td img{
    width: 120px;
    height: 150px;
}
td{
    padding: 5px;
}
.title{
    font-weight: bold;
    font-size: 16px;
}
.nottitle{
    font-size: 14px;
}
#navbox{
    margin: 200px 15px 15px;
}
#searchresults{
    width: 1000px;
}