<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Classic eBooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="main.css") }}">
    {% block links %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="leftcolumn">
        <div id="logo">
            <a href="/"><img id="logo" src="{{ url_for('static', filename="projectgutenbergLogo.jpg") }}"></a>
            <h2>Free Classic eBooks</h2>
        </div>
        <div>
            {% block left %}
                <a href="/readme" style="margin:20px">README.html</a>
            {% endblock %}
        </div>
    </div>
    {% block top %}
    {% endblock %}
    <div id="content">
    <div id="absolute">
        {% block content %}
        <div id="searchbar">
            <h1>Project Gutenberg</h1>
            <form id="search" method="post" action="/popularity">
                <input type="text" id="query" name="query" placeholder="Search Books...">
                <input type="submit" value="GO">
            </form>
            <a href="/advanced">Advanced Search</a>
        </div>
        {% endblock %}
    </div>
    </div>
</div>
</body>
</html>